
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        Charts
      </div>
      <div class="card-body ">
       
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-plain">
              <div class="card-header">
                <h5 class="card-title">Best Selling</h5>
              </div>
              <div class="card-body">
                <div class="alert alert-success">
                  <b>This is Most selling</b>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-plain">
              <div class="card-header">
                <h5 class="card-title">Least Selling.</h5>
              </div>
              <div class="card-body">           
                <div class="alert alert-danger">
                  <b>
                   This is Least Selling
                  </b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>