<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
    
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h5 class="title">Owener Name</h5>
          
          <p class="description">
            Owner
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Restaurant Details  </h5>      </div>
      <div class="card-body">
       Restaurant Details here


      </div>
    </div>
  </div>
</div>