<div class="container">
    <div class="row">
      <h5 class="card-title">Logo</h5>
      <div class="col-md-6 offset-md-3 mt-5">
        <div style="background-color: #f3f3f3" class="card card-user">
          <div class="card-header">
            <h5 class="card-title">Your Hotel Name</h5>
          </div>
          <div class="card-body">
            <form  [formGroup]="form" novalidate>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Verification Code</label>
                  <input type="email" formControlName="verificationCode" class="form-control" placeholder="e.g test@gmail.com">
                  <span class="text-danger" *ngFor="let message of displayValidationMessages('verificationCode')">
                    {{message}}
                  </span>
                </div>
              </div>
              
              <div class="col-md-12">
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" formControlName="password" placeholder="password">
                  <span class="text-danger" *ngFor="let message of displayValidationMessages('password')">
                    {{message}}
                  </span>
                </div>

                <div class="form-group">
                    <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                      class="form-control" id="exampleInputChangePassword">
                    <span class="text-danger" *ngFor="let message of displayValidationMessages('confirmPassword')">
                      {{message}}
                    </span>
                  </div>

                <div class="form-group">
                  <a routerLink="/forgotpassword" class="text-primary">Forget password</a>
                </div>
              </div>
              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" (click)="onResetPassword()" class="btn btn-primary btn-round">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- 

  <form class="quick-post-form" [formGroup]="form">
    <div class="form-group">
      <input type="text" placeholder="Enter verification code" formControlName="VerificationCode"
        class="form-control" id="exampleVerificationCode">
      <mat-error *ngFor="let message of displayValidationMessages('VerificationCode')">
        {{message}}
      </mat-error>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Enter Password" formControlName="Password" class="form-control"
        id="exampleInputPassword">
      <mat-error *ngFor="let message of displayValidationMessages('Password')">
        {{message}}
      </mat-error>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Confirm Password" formControlName="ConfirmPassword"
        class="form-control" id="exampleInputChangePassword">
      <mat-error *ngFor="let message of displayValidationMessages('ConfirmPassword')">
        {{message}}
      </mat-error>
    </div>
    <div class="form-group mb-0">
      <button type="submit" class="btn btn-accent" (click)="onResetPassword()">Change Password</button>
    </div>
  </form> -->