<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <!-- <ngx-datatable [rows]="rows" [columns]="columns"> </ngx-datatable> -->
        <!-- <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                {{tableData1.headerRow[0]}}
              </th>
              <th>
                {{tableData1.headerRow[1]}}
              </th>
              <th>
                {{tableData1.headerRow[2]}}
              </th>
              <th class="text-right">
                {{tableData1.headerRow[3]}}
              </th>
              <th class="text-right">
                {{tableData1.headerRow[4]}}
              </th>
              <th class="text-right">
                {{tableData1.headerRow[5]}}
              </th>
            </thead>
            <tbody>
            
            
            </tbody>
          </table>
        </div> -->
      </div>
    </div>
  </div>
</div>