<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
         
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Today's Total Revenue</p>
              <p class="card-title"> 1,345
                <p>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Last day
        </div>
      </div> -->
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">          
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Today's Order Count</p>
              <p class="card-title">{{totalOrderCount}}
                <p>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Tables:</h5>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-success">Table 1</button>
        <button type="button" class="btn btn-success">Table 2</button>
        <button type="button" class="btn btn-success">Table 3</button>
        <button type="button" class="btn btn-success">Table 4</button>
        <button type="button" class="btn btn-success">Table 5</button>
        <button type="button" class="btn btn-success">Table 6</button>
        <button type="button" class="btn btn-success">Table 7</button>
        <button type="button" class="btn btn-success">Table 8</button>
        <button type="button" class="btn btn-success">Table 9</button>
        <button type="button" class="btn btn-success">Table 10</button>
        <button type="button" class="btn btn-success">Table 11</button>
        <button type="button" class="btn btn-success">Table 12</button>
        <button type="button" class="btn btn-success">Table 13</button>
        <button type="button" class="btn btn-success">Table 14</button>
        <button type="button" class="btn btn-success">Table 15</button>
        <button type="button" class="btn btn-success">Table 16</button>
        <button type="button" class="btn btn-success">Table 17</button>
        <button type="button" class="btn btn-success">Table 18</button>
        <button type="button" class="btn btn-success">Table 19</button>
        <button type="button" class="btn btn-success">Table 20</button>
        <button type="button" class="btn btn-success">Table 21</button>
        <button type="button" class="btn btn-success">Table 22</button>
        <button type="button" class="btn btn-success">Table 23</button>
        <button type="button" class="btn btn-success">Table 24</button>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card ">
      <div class="card-header">
        <h5 class="card-title">TABLE NUMBER 1:</h5>
      </div>
      <div class="card-body ">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <b>QTY</b>
               </div>
              <div class="col-md-7 col-7">
                <b>Name</b>        
              </div>
              <div class="col-md-3 col-3 text-right">
                <b>Price</b> 
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                2
               </div>
              <div class="col-md-7 col-7">
               Paneer Tikka        
              </div>
              <div class="col-md-3 col-3 text-right">
                220
              </div>
            </div>
          </li>
          <!-- <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-ms-7 col-7">
                Flume
                <br />
                <span class="text-danger">
                  <small>Busy</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
      <div class="card-footer ">
        <!-- <div class="legend">
          <i class="fa fa-circle text-primary"></i> Opened
          <i class="fa fa-circle text-warning"></i> Read
          <i class="fa fa-circle text-danger"></i> Deleted
          <i class="fa fa-circle text-gray"></i> Unopened
        </div> -->
        <!-- <hr> -->
        <!-- <div class="stats">
          <i class="fa fa-calendar"></i> Number of emails sent
        </div> -->
      </div>
    </div>
  </div>
</div>
